![LogoCUNEF](https://www.cunef.edu/wp-content/uploads/2021/06/cunef-logo.svg)


#### Instrucciones

+ No elimines, crees ni muevas de sitio ninguna celda de código.

+ Asegúrate de rellenar todos los lugares donde se indica `YOUR CODE HERE`. Debes eliminar el contenido de la celda, incluyendo el texto `raise NotImplementedError()`.

+ Antes de entregar la práctica, asegúrate de que todo funciona correctamente. Para ello, **reinicia el kernel** (en el menú, selecciona Kernel$\rightarrow$Restart) y después **ejecuta todas las celdas** (en el menú, selecciona Cell$\rightarrow$Run All).

---

### Herramientas de Programación · Máster Universitario en Data Science · Curso 2021/22

# Práctica 1

En este cuaderno se plantean varios ejercicios de programación que buscan poner a prueba los conocimientos adquiridos en los cinco primeros temas del curso.

## Ejercicio 1 (2 puntos)

Decimos que un número $p$ es primo si únicamente tiene dos divisores: el número 1 y él mismo. Así, 17 es un número primo, mientras que 18 no lo es, pues tiene como divisores los números 2, 3, 6 y 9.

Para comprobar si un número $p$ es primo, no hace falta comprobar todos los números entre 2 y $p-1$. En realidad, basta con comprobar los números entre 2 y $\lfloor\sqrt{p}\rfloor$.

Por convención, se considera que el __número 1 no es primo__.

Escribe una función `is_prime` que reciba un parámetro `p` y devuelva un valor booleano: `True` si el número `p` es primo, o `False` en otro caso.

In [1]:
def is_prime (p):
    assert p > 1, "El número introducido debe ser mayor que 1"
    valor_final = int(p**(1/2)) 
    for i in range(2,valor_final + 1):
        if p%i == 0:
            return False
    return True

is_prime(5)

True

In [2]:
"""Se comprobará que la función se ha creado y un caso de prueba sencillo."""
assert 'is_prime' in locals(), "La función 'is_prime' no existe."
assert callable(is_prime), "'is_prime' no es una función."
assert is_prime.__code__.co_varnames[:is_prime.__code__.co_argcount] == ('p',), "La función no tiene un parámetro 'p'."
assert is_prime(2) == True, "El valor de 'is_prime(2)' es incorrecto."
assert is_prime(4) == False, "El valor de 'is_prime(4)' es incorrecto."

In [3]:
"""Se comprobarán algunos casos sencillos de la función."""

'Se comprobarán algunos casos sencillos de la función.'

In [4]:
"""Se comprobarán algunos casos adicionales de la función."""

'Se comprobarán algunos casos adicionales de la función.'

## Ejercicio 2 (1 punto)

Supongamos ahora que queremos conocer todos los números primos menores que un número $n$. 

Escribe una función `primes` que reciba un parámetro `n` y que genere todos los números primos estrictamente menores que `n` (es decir, sin incluir el número `n`). La función __debe devolver un generador__.

Por ejemplo, `primes(7)` debe devolver un generador con los valores 2, 3 y 5.

Debes emplear la función `is_prime` que creaste anteriormente.

In [5]:
def primes (n):
    for i in range(2,n):
        if is_prime(i):
            yield i
    
list(primes(100))

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [6]:
"""Se comprobará que la función se ha creado y un caso de prueba sencillo."""
import types
assert 'primes' in locals(), "La función 'primes' no existe."
assert callable(is_prime), "'primes' no es una función."
assert primes.__code__.co_varnames[:primes.__code__.co_argcount] == ('n',), "La función no tiene un parámetro 'n'."
assert type(primes(3)) == types.GeneratorType, "La función no devuelve un generador."
assert list(primes(7)) == [2, 3, 5], "El valor de 'primes(7)' es incorrecto."

In [7]:
"""Se comprobarán algunos casos adicionales de la función."""

'Se comprobarán algunos casos adicionales de la función.'

## Ejercicio 3 (2 puntos)

El Scrabble es un popular juego de mesa que consiste en colocar palabras sobre un tablero con el fin de conseguir puntos. En este ejercicio, vamos a contar los puntos obtenidos tras colocar una palabra.

Para ello, disponemos de un diccionario con puntuaciones, que hemos llamado `puntuaciones`. La clave del diccionario son los nombres de las letras en mayúsculas, y el valor asociado es la puntuación de dicha letra.

Escribe una función denominada `scrabble` que reciba tres parámetros: `palabra`, `puntuaciones` y `mult`:
+ El parámetro `palabra` será una cadena de texto con la palabra colocada en el tablero. Esta podrá estar escrita en mayúsculas o minúsculas indistintamente.
+ El parámetro `puntuaciones` será el diccionario antes mencionado.
+ El parámetro `mult` indica si hay algún multiplicador de palabra. Estos bonus permiten multiplicar la puntuación obtenida al colocar una palabra. El parámetro será opcional, de tal forma que si no se introduce valor, no se debe multiplicar la puntuación obtenida.

Supongamos que se juega la palabra `casa`. En este caso, `scrabble("casa", puntos, 2) = 12`, puesto que `CASA = 3 + 1 + 1 + 1`, que son 6 puntos, y se multiplica por 2 la puntuación obtenida.

En el Scrabble no se pueden jugar más de 7 letras. Si la palabra introducida tuviera más de 7 letras, devolveremos una puntuación de 0 puntos.

In [8]:
puntuaciones = puntuaciones = {
    'A': 1,
    'B': 3,
    'C': 3,
    'D': 2,
    'E': 1,
    'F': 4,
    'G': 2,
    'H': 4,
    'I': 1,
    'J': 8,
    'L': 1,
    'M': 3,
    'N': 1,
    'Ñ': 8,
    'O': 1,
    'P': 3,
    'Q': 5,
    'R': 1,
    'S': 1,
    'T': 1,
    'U': 1,
    'V': 4,
    'X': 8,
    'Y': 4,
    'Z': 10,
}

In [9]:
def scrabble (palabra, puntuaciones, mult = 1):
    puntos = 0
    if len(palabra) == 0:
        return puntos
    pal = palabra.upper()
    for letra in pal:
        if letra in puntuaciones:
            puntos += puntuaciones[letra]
    return mult*puntos

In [10]:
"""Se comprobará que la función se ha creado y un caso de prueba sencillo."""
assert 'scrabble' in locals(), "La función 'scrabble' no existe."
assert callable(scrabble), "'scrabble' no es una función."
assert scrabble.__code__.co_varnames[:scrabble.__code__.co_argcount] == ('palabra', 'puntuaciones', 'mult'), "La función no tiene los parámetros indicados."
assert scrabble('CASA', puntuaciones) == 6, "La puntuación para 'CASA' es incorrecta."
assert scrabble('CASA', puntuaciones, 2) == 12, "La puntuación para 'CASA' (x2) es incorrecta."

In [11]:
"""Se comprobarán algunos casos adicionales de la función."""

'Se comprobarán algunos casos adicionales de la función.'

## Ejercicio 4 (1 punto)

Importa la librería Pandas y a continuación carga los datos del fichero `nycflights17.xlsx` de acuerdo con las siguientes instrucciones:

+ Carga el contenido de la hoja `flights` y almacénalo en la variable `flights`.
+ Carga el contenido de la hoja `planes` y almacénalo en la variable `planes`.
+ Carga el contenido de la hoja `airlines` y almacénalo en la variable `airlines`.

In [12]:
import pandas as pd

flights = pd.read_excel("nycflights17.xlsx", sheet_name = "flights")
planes = pd.read_excel("nycflights17.xlsx", sheet_name = "planes")
airlines = pd.read_excel("nycflights17.xlsx", sheet_name = "airlines")

flights

,year,month,day,hour,minute,carrier,flight,origin,dest,tailnum,distance,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,air_time
0,2017,1,1,6,0,B6,371,LGA,FLL,N651JB,1076,615.0,600,15.0,911.0,915,-4.0,151.0
1,2017,1,1,6,15,AA,1905,LGA,CLT,N561AA,544,1247.0,615,392.0,1450.0,822,388.0,89.0
2,2017,1,1,6,30,NK,705,LGA,FLL,N667NK,1076,630.0,630,0.0,926.0,932,-6.0,153.0
3,2017,1,1,6,59,AA,2230,JFK,MIA,NaN,1089,705.0,659,6.0,1020.0,1018,2.0,163.0
4,2017,1,1,7,30,AA,1263,JFK,LAS,NaN,2248,734.0,730,4.0,1016.0,1029,-13.0,318.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15182,2017,12,31,19,25,AA,1120,JFK,MCO,NaN,944,2118.0,1925,113.0,21.0,2234,107.0,157.0
15183,2017,12,31,21,37,B6,1371,LGA,FLL,N644JB,1076,2136.0,2137,-1.0,36.0,38,-2.0,162.0
15184,2017,12,31,21,55,B6,1723,JFK,LAX,N988JB,2475,2317.0,2155,82.0,225.0,121,64.0,345.0
15185,2017,12,31,22,15,B6,1389,EWR,NaN,N521JB,1608,2249.0,2215,34.0,323.0,305,18.0,196.0
15186,2017,12,31,23,50,B6,745,JFK,NaN,N605JB,1617,9.0,2350,19.0,501.0,441,20.0,209.0

In [13]:
"""Se comprobará que las variables existen y tienen el tipo correcto."""
assert 'flights' in locals(), "La variable 'flights' no existe."
assert 'planes' in locals(), "La variable 'planes' no existe."
assert 'airlines' in locals(), "La variable 'airlines' no existe."
assert type(flights) == pd.DataFrame, "La variable 'flights' debe ser un dataframe."
assert type(planes) == pd.DataFrame, "La variable 'planes' debe ser un dataframe."
assert type(airlines) == pd.DataFrame, "La variable 'airlines' debe ser un dataframe."

In [14]:
"""Se comprobará que la estructura y valores de flights son correctos."""

'Se comprobará que la estructura y valores de flights son correctos.'

In [15]:
"""Se comprobará que la estructura y valores de planes son correctos."""

'Se comprobará que la estructura y valores de planes son correctos.'

In [16]:
"""Se comprobará que la estructura y valores de planes son correctos."""

'Se comprobará que la estructura y valores de planes son correctos.'

## Ejercicio 5 (1,5 puntos)

En este ejercicio debes realizar dos tareas:

+ Filtrarás aquellos vuelos que se han realizado en el mes de octubre. El resultado debes almacenarlo en un nuevo _dataframe_ en la variable `flights_oct`.

+ Vamos a suponer que los aviones tienen siempre una ocupación del 80%. Así, si un avión tiene 200 asientos, consideraremos que en él viajan 200 * 0,8 = 160 pasajeros. Crea una nueva columna en el _dataframe_ planes llamada `passengers` que almacene la cantidad de pasajeros que viaja en cada avión.

In [17]:
flights

flights_oct = flights[flights.month == 5]
flights_oct

,year,month,day,hour,minute,carrier,flight,origin,dest,tailnum,distance,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,air_time
4971,2017,5,1,6,0,UA,241,EWR,ATL,N37465,746,554.0,600,-6.0,815.0,830,-15.0,113.0
4972,2017,5,1,6,0,AA,304,LGA,ORD,NaN,733,601.0,600,1.0,729.0,735,-6.0,113.0
4973,2017,5,1,6,15,DL,453,JFK,ATL,N399DA,760,611.0,615,-4.0,827.0,844,-17.0,110.0
4974,2017,5,1,6,55,UA,1115,EWR,LAS,N64844,2227,649.0,655,-6.0,859.0,933,-34.0,288.0
4975,2017,5,1,7,45,UA,1241,EWR,LAX,N14107,2454,738.0,745,-7.0,1049.0,1055,-6.0,325.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,2017,5,31,20,55,WN,937,LGA,MDW,N463WN,725,2240.0,2055,105.0,2350.0,2225,85.0,111.0
6305,2017,5,31,21,5,UA,1261,EWR,IAH,N27733,1400,2117.0,2105,12.0,31.0,2359,32.0,196.0
6306,2017,5,31,21,18,B6,775,JFK,MSY,NaN,1182,2113.0,2118,-5.0,2345.0,2349,-4.0,168.0
6307,2017,5,31,21,59,DL,2696,LGA,BOS,N985AT,184,38.0,2159,159.0,200.0,2312,168.0,41.0
6308,2017,5,31,22,5,EV,5325,LGA,SYR,N724EV,198,2202.0,2205,-3.0,2332.0,2313,19.0,46.0

In [18]:
# suponiendo que los aviones tienen una ocupación del 80%, si un avión tiene 200 asientos, en él, únicamente podrán 
# viajar 160 pasajeros. Crear una columna "passengers" que almacene la cantidad de pasajeros que viaja en cada avión.

planes["passengers"] = planes.seats*0.8
planes

# obtengo números decimales. ¿Me quedo con parte entera?

,tailnum,year,type,manufacturer,model,engines,seats,engine,passengers
0,N102AA,2007.0,Fixed wing single engine,AVIAT AIRCRAFT INC,A-1B,1,2.0,Reciprocating,1.6
1,N103AA,2007.0,Fixed wing single engine,AVIAT AIRCRAFT INC,A-1B,1,2.0,Reciprocating,1.6
2,N103SY,2014.0,Fixed wing multi engine,EMBRAER S A,ERJ 170-200 LR,2,88.0,Turbo-fan,70.4
3,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55.0,Turbo-fan,44.0
4,N105AA,1978.0,Fixed wing single engine,CESSNA,R182,1,4.0,Reciprocating,3.2
...,...,...,...,...,...,...,...,...,...
3516,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100.0,Turbo-fan,80.0
3517,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142.0,Turbo-fan,113.6
3518,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100.0,Turbo-fan,80.0
3519,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142.0,Turbo-jet,113.6
3520,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142.0,Turbo-jet,113.6

In [19]:
"""Se comprobará que las variables existen y tienen el tipo correcto."""
assert 'flights_oct' in locals(), "La variable 'flights_oct' no existe."
assert type(flights_oct) == pd.DataFrame, "La variable 'flights_oct' debe ser un dataframe."
assert len(planes.columns) == 9, "No hay una nueva columna en el dataframe 'planes'."

In [20]:
"""Se comprobará que el filtrado es correcto."""

'Se comprobará que el filtrado es correcto.'

In [21]:
"""Se comprobará que la nueva columna es correcta."""

'Se comprobará que la nueva columna es correcta.'

## Ejercicio 6 (2,5 puntos)

En este último ejercicio, vas a actuar en el papel de un comercial de la empresa BOEING. Supongamos que quieres premiar la fidelidad de aquella aerolínea que a más pasajeros ha trasladado empleando aviones de tu marca durante el mes de octubre. ¿Cuál es esta aerolínea?

Para hallarlo, debes hacer lo siguiente:

+ Filtrar aquellos aviones que son fabricados por BOEING. Almacena el resultado en el _dataframe_ `planes_boeing`.
+ Combinar los vuelos del mes de octubre con los aviones de BOEING y con las aerolíneas. El resultado de agregar los tres _dataframes_ se debe almacenar en la variable `flights_oct_boeing`.
+ Agrupar los vuelos por el nombre de aerolínea, y sumar los pasajeros para cada aerolínea.
+ El nombre de la aerolína que más pasajeros ha trasladado en octubre en aviones BOEING debe almacenarse en la variable `aerolinea`, mientras que el número de pasajeros debe almacenarse en la variable `num_pasajeros`.

In [22]:
planes_boeing = planes[planes.manufacturer == "BOEING"]
planes_boeing


flights_oct_boeing = flights_oct.merge(planes_boeing, on = ["tailnum"]).merge(airlines, on = ["carrier"])
flights_oct_boeing 

flights_oct_boeing.groupby("name").passengers.sum()

num_pasajeros = max(flights_oct_boeing.groupby("name").passengers.sum())

dic = dict(flights_oct_boeing.groupby("name").passengers.sum())


def encontrar_aerolinea(dic=dic):
    for aerol in dic:
        maximo = 0
        if dic[aerol] > maximo:
            maximo = dic[aerol]
            aerolinea=aerol
    return aerolinea

aerolinea = encontrar_aerolinea()

In [23]:
"""Se comprobará que las variables existen y tienen el tipo correcto."""
assert 'planes_boeing' in locals(), "La variable 'planes_boeing' no existe."
assert 'flights_oct_boeing' in locals(), "La variable 'flights_oct_boeing' no existe."
assert 'aerolinea' in locals(), "La variable 'aerolinea' no existe."
assert 'num_pasajeros' in locals(), "La variable 'num_pasajeros' no existe."
assert type(planes_boeing) == pd.DataFrame, "La variable 'planes_boeing' debe ser un dataframe."
assert type(flights_oct_boeing) == pd.DataFrame, "La variable 'flights_oct_boeing' debe ser un dataframe."
assert type(aerolinea) == str, "La variable 'aerolinea' debe ser una string."
assert type(num_pasajeros) == float, "La variable 'num_pasajeros' debe ser un float."

In [24]:
"""Se comprobará que el filtrado es correcto."""

'Se comprobará que el filtrado es correcto.'

In [25]:
"""Se comprobará que la unión de los datos es correcta."""

'Se comprobará que la unión de los datos es correcta.'

In [26]:
"""Se comprobará que el resultado del análisis es correcto."""

'Se comprobará que el resultado del análisis es correcto.'

## Y ahora, ¿qué?

Si ya has terminado los ejercicios, sigue los siguientes pasos:

1. Haz clic en _Kernel -> Restart & Run All_. Esto permitirá limpiar la memoria y ejecutar el código con el entorno limpio. Así, aseguramos que no pueda haber «código fantasma» que pueda dar problemas.
2. Haz clic en el botón _Validate_. Si el proceso indica que hay algún error, quiere decir que tu código tiene problemas y deberías revisarlo. __¡Ojo!__ Esto no quiere decir que si el mensaje indica que el código pasa todos los tests, entonces esté perfecto. El motivo es que hay tests que solo se ejecutan después de enviar el cuaderno.
3. Pulsa las teclas _Ctrl_ + _S_ (o _Command_ + _S_ en Mac OS) para guardar los cambios.
4. Haz clic en _File -> Close and Halt_ para cerrar el cuaderno.
5. En el servidor de prácticas, ve a la pestaña _Assignments_ y, junto a esta tarea, haz clic en el botón _Submit_.